<link rel="stylesheet" href="style/room.css">
<div class="noquestions">
  <img src="/images/no-questions.svg" alt="Sem perguntas">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Faça sua primeira pergunta e envie o <br>código desta sala para outras pessoas!</p>
</div>